#Data
data/RSOph/FermiLAT
data/RSOph/HESS
data/RSOph/MAGIC
homogenize_files_RSOph.ipynb
data/RXJ1713

#Scripts to run fitting
RSOph_hadronic.py
RSOph_leptonic.py
CrabNebula_SynIC.py
fit_crab.ipynb
fit_RXJ1713.ipynb

#Output
CrabNebula_results
scripts/RSOph_results/leptonic_model/*
scripts/RSOph_results/hadronic_model/*

.pytest_cache
__pycache__

.ipynb_checkpoints

# Mac OSX
.DS_Store
